xuml-tools/trunk/miuml-jaxb/src/main/resources/miuml-metamodel.xsd

<schema targetNamespace="http://www.miuml.org/metamodel" xmlns:t="http://www.miuml.org/metamodel"
	xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<annotation>
		<documentation>
			This schema describes the information of a miUML model
			in xml form. The schema is being created directly from the miUML
			class diagrams available at http://www.miUML.org. Exactly the same
			terminology is being used and the superclass heirarchies are being
			implemented where possible. To reduce verbosity in xml compliant with
			the schema attributes are preferred over elements. 
		</documentation>
	</annotation>

	<!-- Domain and specializations -->

	<element name="Domain" type="t:Domain" />

	<complexType name="Domain">
		<sequence>
			<element name="Bridge" type="t:Bridge" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>R7</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="Name" type="t:Name" use="required" />
		<attribute name="Alias" type="t:Alias" use="required" />
	</complexType>

	<element name="ModeledDomain" substitutionGroup="t:Domain"
		type="t:ModeledDomain" />
	<element name="RealizedDomain" substitutionGroup="t:Domain"
		type="t:RealizedDomain" />

	<complexType name="ModeledDomain">
		<complexContent>
			<extension base="t:Domain">
				<annotation>
					<documentation>R4</documentation>
				</annotation>
				<sequence>
					<element ref="t:Element" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>R15</documentation>
						</annotation>
					</element>
					<element name="Subsystem" type="t:Subsystem" maxOccurs="unbounded">
						<annotation>
							<documentation>R1</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="RealizedDomain">
		<complexContent>
			<extension base="t:Domain">
				<annotation>
					<documentation>R4</documentation>
				</annotation>
			</extension>
		</complexContent>
	</complexType>

	<!-- Bridge -->

	<complexType name="Bridge">
		<attribute name="Domain" type="t:Name" use="required" />
	</complexType>

	<!-- Subsystem -->
	
	<complexType name="Subsystem">
		<attribute name="Name" type="t:Name" use="required" />
		<attribute name="Alias" type="t:Name" use="required" />
		<attribute name="Floor" type="t:PositiveInteger" use="required">
			<annotation>
				<documentation>R3</documentation>
			</annotation>
		</attribute>
		<attribute name="Ceiling" type="t:PositiveInteger" use="required">
			<annotation>
				<documentation>R3</documentation>
			</annotation>
		</attribute>
	</complexType>

	<!-- Element and specializations -->

	<element name="Element" type="t:Element" />

	<complexType name="Element">
		<attribute name="Number" type="t:Number" use="required" />
	</complexType>

	<element name="SpanningElement" substitutionGroup="t:Element"
		type="t:SpanningElement" />
	<element name="SubsystemElement" substitutionGroup="t:Element"
		type="t:SubsystemElement" />

	<complexType name="SpanningElement">
		<complexContent>
			<extension base="t:Element">
				<annotation>
					<documentation>R16</documentation>
				</annotation>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="SubsystemElement">
		<complexContent>
			<extension base="t:Element">
				<annotation>
					<documentation>R16</documentation>
				</annotation>
				<attribute name="Subsystem" type="t:Name" use="required" />
			</extension>
		</complexContent>
	</complexType>

	<!-- Spanning Element specializations -->

	<element name="DomainType" substitutionGroup="t:SpanningElement"
		type="t:DomainType" />
	<element name="Lineage" substitutionGroup="t:SpanningElement"
		type="t:Lineage" />
	<element name="ConstrainedLoop" substitutionGroup="t:SpanningElement"
		type="t:ConstrainedLoop" />

	<complexType name="DomainType">
		<complexContent>
			<extension base="t:SpanningElement">
				<annotation>
					<documentation>R17</documentation>
				</annotation>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Lineage">
		<complexContent>
			<extension base="t:SpanningElement">
				<annotation>
					<documentation>R17</documentation>
				</annotation>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ConstrainedLoop">
		<complexContent>
			<extension base="t:SpanningElement">
				<annotation>
					<documentation>R17</documentation>
				</annotation>
			</extension>
		</complexContent>
	</complexType>

	<!-- Subsystem Element specializations -->

	<element name="Relationship" substitutionGroup="t:SubsystemElement"
		type="t:Relationship" />
	<element name="Class" substitutionGroup="t:SubsystemElement"
		type="t:Class" />

	<complexType name="Relationship">
		<complexContent>
			<extension base="t:SubsystemElement">
				<annotation>
					<documentation>R14</documentation>
				</annotation>
				<attribute name="Rnum" type="t:Rnum" use="required" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Class">
		<complexContent>
			<extension base="t:SubsystemElement">
				<annotation>
					<documentation>R14</documentation>
				</annotation>
				<sequence>
					<element ref="t:Attribute" maxOccurs="unbounded" />
				</sequence>
				<attribute name="Name" type="t:Name" use="required" />
				<attribute name="Cnum" type="t:Cnum" use="required" />
				<attribute name="Alias" type="t:Alias" use="required" />
			</extension>
		</complexContent>
	</complexType>

	<!-- Class specializations -->

	<element name="NonSpecializedClass" substitutionGroup="t:Class"
		type="t:NonSpecializedClass" />
	<element name="SpecializedClass" substitutionGroup="t:Class"
		type="t:SpecializedClass" />

	<complexType name="NonSpecializedClass">
		<complexContent>
			<extension base="t:Class">
				<annotation>
					<documentation>R23</documentation>
				</annotation>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="SpecializedClass">
		<complexContent>
			<extension base="t:Class">
				<annotation>
					<documentation>R23</documentation>
				</annotation>
			</extension>
		</complexContent>
	</complexType>

	<!-- Attribute specializations -->
	<element name="Attribute" type="t:Attribute" />

	<complexType name="Attribute">
		<attribute name="Name" type="t:Name" use="required" />
	</complexType>

	<element name="NativeAttribute" substitutionGroup="t:Attribute"
		type="t:NativeAttribute" />
	<element name="ReferentialAttribute" substitutionGroup="t:Attribute"
		type="t:ReferentialAttribute" />

	<complexType name="NativeAttribute">
		<complexContent>
			<extension base="t:Attribute">
				<annotation>
					<documentation>R21</documentation>
				</annotation>
				<sequence>
					<element name="Type" type="t:ConstrainedType">
						<annotation>
							<documentation>R24</documentation>
						</annotation>
					</element>
					<element name="Identifier" type="t:IdentifierAttribute"
						minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>R22</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="IdentifierAttribute">
		<attribute name="Number" type="t:Number" use="required" />
		<!-- TODO add referential roles -->
	</complexType>

	<complexType name="ReferentialAttribute">
		<complexContent>
			<extension base="t:Attribute">
				<annotation>
					<documentation>R21</documentation>
				</annotation>
				<sequence>
					<element name="Reference" type="t:Reference" maxOccurs="unbounded">
						<annotation>
							<documentation>R31</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<!-- Native Attribute specializations -->

	<element name="IndependentAttribute" substitutionGroup="t:NativeAttribute"
		type="t:IndependentAttribute" />
	<element name="DerivedAttribute" substitutionGroup="t:NativeAttribute"
		type="t:DerivedAttribute" />

	<complexType name="IndependentAttribute">
		<complexContent>
			<extension base="t:NativeAttribute">
				<annotation>
					<documentation>R25</documentation>
				</annotation>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="DerivedAttribute">
		<complexContent>
			<extension base="t:NativeAttribute">
				<annotation>
					<documentation>R25</documentation>
				</annotation>
				<attribute name="Formula" type="t:Formula" use="required" />
			</extension>
		</complexContent>
	</complexType>

	<!-- Identifier and specializations -->

	<element name="Identifier" type="t:Identifier" />

	<complexType name="Identifier">
		<attribute name="Number" type="t:Number" use="required" />
	</complexType>

	<element name="ModeledIdentifier" substitutionGroup="t:Identifier"
		type="t:ModeledIdentifier" />
	<element name="RequiredReferentialIdentifier"
		substitutionGroup="t:Identifier" type="t:RequiredReferentialIdentifier" />

	<complexType name="ModeledIdentifier">
		<complexContent>
			<extension base="t:Identifier">
				<annotation>
					<documentation>R30</documentation>
				</annotation>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="RequiredReferentialIdentifier">
		<complexContent>
			<extension base="t:Identifier">
				<annotation>
					<documentation>R30</documentation>
				</annotation>
			</extension>
		</complexContent>
	</complexType>


	<!-- TODO -->



	<complexType name="ConstrainedType" />

	<complexType name="Reference" />


	<!-- Simple types -->

	<simpleType name="Formula">
		<restriction base="t:NonBlankString" />
	</simpleType>

	<simpleType name="Cnum">
		<restriction base="t:PositiveInteger" />
	</simpleType>

	<simpleType name="Number">
		<restriction base="t:PositiveInteger" />
	</simpleType>

	<simpleType name="Rnum">
		<restriction base="t:PositiveInteger" />
	</simpleType>

	<simpleType name="Name">
		<restriction base="t:NonBlankString" />
	</simpleType>

	<simpleType name="Alias">
		<restriction base="t:NonBlankString" />
	</simpleType>

	<simpleType name="NonBlankString">
		<restriction base="string">
			<pattern value=".*[^\s].*" />
		</restriction>
	</simpleType>

	<simpleType name="PositiveInteger">
		<restriction base="integer">
			<minInclusive value="1" />
		</restriction>
	</simpleType>


</schema>
