xuml-tools/trunk/miuml-jaxb/src/main/resources/miuml-metamodel.xsd

<schema targetNamespace="http://www.miuml.org/metamodel" xmlns:t="http://www.miuml.org/metamodel"
	xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<annotation>
		<documentation>
			<html>
				<p>This schema describes the information of a miUML model in xml
					form. The schema is being created directly from the miUML class
					diagrams available at http://www.miUML.org.
				</p>
				<p>Exactly the same terminology is being used and the superclass
					heirarchies are being implemented where possible.</p>
				<p> To reduce verbosity in xml compliant with the schema attributes
					are preferred over elements when convenient.</p>
				<p>Every relationship on the class diagrams should eventually appear
					in this document in the documentation annotations on types or
					elements.</p>
			</html>
		</documentation>
	</annotation>


	<!--++++++++++++++++++++++++ -->
	<!-- DOMAIN SUBSYSTEM ++++++ -->
	<!--++++++++++++++++++++++++ -->

	<!-- Domain and specializations -->

	<element name="Domain" type="t:Domain" />

	<complexType name="Domain">
		<sequence>
			<element name="Bridge" type="t:Bridge" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>R7</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="Name" type="t:Name" use="required" />
		<attribute name="Alias" type="t:Alias" use="required" />
	</complexType>

	<element name="ModeledDomain" substitutionGroup="t:Domain"
		type="t:ModeledDomain" />
	<element name="RealizedDomain" substitutionGroup="t:Domain"
		type="t:RealizedDomain" />

	<complexType name="ModeledDomain">
		<complexContent>
			<extension base="t:Domain">
				<annotation>
					<documentation>R4</documentation>
				</annotation>
				<sequence>
					<element ref="t:Element" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>R15</documentation>
						</annotation>
					</element>
					<element name="Subsystem" type="t:Subsystem" maxOccurs="unbounded">
						<annotation>
							<documentation>R1</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="RealizedDomain">
		<complexContent>
			<extension base="t:Domain">
				<annotation>
					<documentation>R4</documentation>
				</annotation>
			</extension>
		</complexContent>
	</complexType>

	<!-- Bridge -->

	<complexType name="Bridge">
		<attribute name="Domain" type="t:Name" use="required" />
	</complexType>

	<!-- Subsystem -->

	<complexType name="Subsystem">
		<attribute name="Name" type="t:Name" use="required" />
		<attribute name="Alias" type="t:Name" use="required" />
		<attribute name="Floor" type="t:PositiveInteger" use="required">
			<annotation>
				<documentation>R3</documentation>
			</annotation>
		</attribute>
		<attribute name="Ceiling" type="t:PositiveInteger" use="required">
			<annotation>
				<documentation>R3</documentation>
			</annotation>
		</attribute>
	</complexType>

	<!-- Element and specializations -->

	<element name="Element" type="t:Element" />

	<complexType name="Element">
		<attribute name="Number" type="t:Number" use="required" />
	</complexType>

	<element name="SpanningElement" substitutionGroup="t:Element"
		type="t:SpanningElement" />
	<element name="SubsystemElement" substitutionGroup="t:Element"
		type="t:SubsystemElement" />

	<complexType name="SpanningElement">
		<complexContent>
			<extension base="t:Element">
				<annotation>
					<documentation>R16</documentation>
				</annotation>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="SubsystemElement">
		<complexContent>
			<extension base="t:Element">
				<annotation>
					<documentation>R16</documentation>
				</annotation>
				<attribute name="Subsystem" type="t:Name" use="required" />
			</extension>
		</complexContent>
	</complexType>

	<!-- Spanning Element specializations -->

	<element name="DomainType" substitutionGroup="t:SpanningElement"
		type="t:DomainType" />
	<element name="Lineage" substitutionGroup="t:SpanningElement"
		type="t:Lineage" />
	<element name="ConstrainedLoop" substitutionGroup="t:SpanningElement"
		type="t:ConstrainedLoop" />

	<complexType name="DomainType">
		<complexContent>
			<extension base="t:SpanningElement">
				<annotation>
					<documentation>R17</documentation>
				</annotation>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Lineage">
		<complexContent>
			<extension base="t:SpanningElement">
				<annotation>
					<documentation>R17. R131 is for uniqueness purposes only so is not
						present in the schema.</documentation>
				</annotation>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ConstrainedLoop">
		<complexContent>
			<extension base="t:SpanningElement">
				<annotation>
					<documentation>R17</documentation>
				</annotation>
			</extension>
		</complexContent>
	</complexType>

	<!-- Subsystem Element specializations -->

	<element name="Relationship" substitutionGroup="t:SubsystemElement"
		type="t:Relationship" />
	<element name="Class" substitutionGroup="t:SubsystemElement"
		type="t:Class" />

	<complexType name="Relationship">
		<complexContent>
			<extension base="t:SubsystemElement">
				<annotation>
					<documentation>R14. R160 is for uniqueness purposes only and so is not in the schema.</documentation>
				</annotation>
				<attribute name="Rnum" type="t:Rnum" use="required" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Class">
		<complexContent>
			<extension base="t:SubsystemElement">
				<annotation>
					<documentation>R14</documentation>
				</annotation>
				<sequence>
					<element ref="t:Attribute" maxOccurs="unbounded" />
				</sequence>
				<attribute name="Name" type="t:Name" use="required" />
				<attribute name="Cnum" type="t:Cnum" use="required" />
				<attribute name="Alias" type="t:Alias" use="required" />
				<attribute name="Association" type="t:Rnum" use="optional">
					<annotation>
						<documentation>R120</documentation>
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>

	<!--++++++++++++++++++++++++ -->
	<!-- CLASS SUBSYSTEM +++++++ -->
	<!--++++++++++++++++++++++++ -->

	<!-- Class specializations -->

	<element name="NonSpecializedClass" substitutionGroup="t:Class"
		type="t:NonSpecializedClass" />
	<element name="SpecializedClass" substitutionGroup="t:Class"
		type="t:SpecializedClass" />

	<complexType name="NonSpecializedClass">
		<complexContent>
			<extension base="t:Class">
				<annotation>
					<documentation>R23</documentation>
				</annotation>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="SpecializedClass">
		<complexContent>
			<extension base="t:Class">
				<annotation>
					<documentation>R23</documentation>
				</annotation>
			</extension>
		</complexContent>
	</complexType>

	<!-- Attribute specializations -->
	<element name="Attribute" type="t:Attribute" />

	<complexType name="Attribute">
		<attribute name="Name" type="t:Name" use="required" />
	</complexType>

	<element name="NativeAttribute" substitutionGroup="t:Attribute"
		type="t:NativeAttribute" />
	<element name="ReferentialAttribute" substitutionGroup="t:Attribute"
		type="t:ReferentialAttribute" />

	<complexType name="NativeAttribute">
		<complexContent>
			<extension base="t:Attribute">
				<annotation>
					<documentation>R21</documentation>
				</annotation>
				<sequence>
					<element name="Type" type="t:ConstrainedType">
						<annotation>
							<documentation>R24</documentation>
						</annotation>
					</element>
					<element name="Identifier" type="t:IdentifierAttribute"
						minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>R22</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="IdentifierAttribute">
		<attribute name="Number" type="t:Number" use="required" />
		<!-- TODO add referential roles -->
	</complexType>

	<complexType name="ReferentialAttribute">
		<complexContent>
			<extension base="t:Attribute">
				<annotation>
					<documentation>R21</documentation>
				</annotation>
				<sequence>
					<element name="Reference" type="t:Reference" maxOccurs="unbounded">
						<annotation>
							<documentation>R31</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<!-- Native Attribute specializations -->

	<element name="IndependentAttribute" substitutionGroup="t:NativeAttribute"
		type="t:IndependentAttribute" />
	<element name="DerivedAttribute" substitutionGroup="t:NativeAttribute"
		type="t:DerivedAttribute" />

	<complexType name="IndependentAttribute">
		<complexContent>
			<extension base="t:NativeAttribute">
				<annotation>
					<documentation>R25</documentation>
				</annotation>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="DerivedAttribute">
		<complexContent>
			<extension base="t:NativeAttribute">
				<annotation>
					<documentation>R25</documentation>
				</annotation>
				<attribute name="Formula" type="t:Formula" use="required" />
			</extension>
		</complexContent>
	</complexType>

	<!-- Identifier and specializations -->

	<element name="Identifier" type="t:Identifier" />

	<complexType name="Identifier">
		<attribute name="Number" type="t:Number" use="required" />
	</complexType>

	<element name="ModeledIdentifier" substitutionGroup="t:Identifier"
		type="t:ModeledIdentifier" />
	<element name="RequiredReferentialIdentifier"
		substitutionGroup="t:Identifier" type="t:RequiredReferentialIdentifier" />

	<complexType name="ModeledIdentifier">
		<complexContent>
			<extension base="t:Identifier">
				<annotation>
					<documentation>R30</documentation>
				</annotation>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="RequiredReferentialIdentifier">
		<complexContent>
			<extension base="t:Identifier">
				<annotation>
					<documentation>R30</documentation>
				</annotation>
			</extension>
		</complexContent>
	</complexType>



	<!--++++++++++++++++++++++++++++++ -->
	<!-- RELATIONSHIP SUBSYSTEM ++++++ -->
	<!--++++++++++++++++++++++++++++++ -->

	<!-- Relationship specializations -->

	<element name="Generalization" substitutionGroup="t:Relationship"
		type="t:Generalization" />
	<element name="Association" substitutionGroup="t:Relationship"
		type="t:Association" />

	<complexType name="Generalization">
		<complexContent>
			<extension base="t:Relationship">
				<annotation>
					<documentation>R100. R103,R102,R118,R117 add uniqueness constraints
						only and thus do not appear in this schema.</documentation>
				</annotation>
				<sequence>
					<element name="SpecializedClass" type="t:Name" maxOccurs="unbounded">
						<annotation>
							<documentation>R101</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Association">
		<complexContent>
			<extension base="t:Relationship">
				<annotation>
					<documentation>R100</documentation>
				</annotation>
			</extension>
		</complexContent>
	</complexType>

	<!-- Association specializations -->

	<element name="UnaryAssociation" substitutionGroup="t:Association"
		type="t:UnaryAssociation" />
	<element name="BinaryAssociation" substitutionGroup="t:Association"
		type="t:BinaryAssociation" />

	<complexType name="UnaryAssociation">
		<complexContent>
			<extension base="t:Association">
				<annotation>
					<documentation>R119</documentation>
				</annotation>
				<sequence>
					<element name="SymmetricPerspective" type="t:SymmetricPerspective">
						<annotation>
							<documentation>R123</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="BinaryAssociation">
		<complexContent>
			<extension base="t:Association">
				<annotation>
					<documentation>R119</documentation>
				</annotation>
				<sequence>
					<element name="ActivePerspective" type="t:ActivePerspective">
						<annotation>
							<documentation>R124</documentation>
						</annotation>
					</element>
					<element name="PassivePerspective" type="t:PassivePerspective">
						<annotation>
							<documentation>R125</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<!-- Perspective and specializations -->

	<element name="Perspective" type="t:Perspective" />

	<complexType name="Perspective">
		<attribute name="Side" type="t:Number" use="required" />
		<attribute name="Rnum" type="t:Rnum" use="required" />
		<attribute name="ViewedClass" type="t:Name" use="required">
			<annotation>
				<documentation>Represents the R104 specialization group because
					schema cannot handle multiple specialization groups one complexType
				</documentation>
			</annotation>
		</attribute>
		<attribute name="Phrase" type="t:Phrase" use="required" />
		<attribute name="Conditional" type="boolean" use="required" />
		<attribute name="OnePerspective" type="boolean" use="required">
			<annotation>
				<documentation>Represents the R104 specialization group because
					schema cannot handle multiple specialization groups one complexType
				</documentation>
			</annotation>
		</attribute>
	</complexType>

	<element name="SymmetricPerspective" substitutionGroup="t:Perspective"
		type="t:SymmetricPerspective" />
	<element name="AsymmetricPerspective" substitutionGroup="t:Perspective"
		type="t:AsymmetricPerspective" />

	<complexType name="SymmetricPerspective">
		<complexContent>
			<extension base="t:Perspective">
				<annotation>
					<documentation>R121</documentation>
				</annotation>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="AsymmetricPerspective">
		<complexContent>
			<extension base="t:Perspective">
				<annotation>
					<documentation>R121</documentation>
				</annotation>
			</extension>
		</complexContent>
	</complexType>

	<!-- AsymmetricPerspective specializations -->

	<element name="ActivePerspective" substitutionGroup="t:AsymmetricPerspective"
		type="t:ActivePerspective" />
	<element name="PassivePerspective" substitutionGroup="t:AsymmetricPerspective"
		type="t:PassivePerspective" />


	<complexType name="ActivePerspective">
		<complexContent>
			<extension base="t:AsymmetricPerspective">
				<annotation>
					<documentation>R105</documentation>
				</annotation>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="PassivePerspective">
		<complexContent>
			<extension base="t:AsymmetricPerspective">
				<annotation>
					<documentation>R105</documentation>
				</annotation>
			</extension>
		</complexContent>
	</complexType>

	<!-- TODO -->



	<complexType name="ConstrainedType" />

	<complexType name="Reference" />


	<!-- Simple types -->

	<simpleType name="Formula">
		<restriction base="t:NonBlankString" />
	</simpleType>

	<simpleType name="Cnum">
		<restriction base="t:PositiveInteger" />
	</simpleType>

	<simpleType name="Number">
		<restriction base="t:PositiveInteger" />
	</simpleType>

	<simpleType name="Rnum">
		<restriction base="t:PositiveInteger" />
	</simpleType>

	<simpleType name="Name">
		<restriction base="t:NonBlankString" />
	</simpleType>

	<simpleType name="Alias">
		<restriction base="t:NonBlankString" />
	</simpleType>

	<simpleType name="Phrase">
		<restriction base="t:NonBlankString" />
	</simpleType>

	<simpleType name="NonBlankString">
		<restriction base="string">
			<pattern value=".*[^\s].*" />
		</restriction>
	</simpleType>

	<simpleType name="PositiveInteger">
		<restriction base="integer">
			<minInclusive value="1" />
		</restriction>
	</simpleType>


</schema>
