xuml-tools/trunk/xuml-jaxb/src/main/resources/xuml.xsd


<schema targetNamespace="http://david.moten.org/xuml" xmlns:t="http://david.moten.org/xuml"
	xmlns="http://www.w3.org/2001/XMLSchema"   elementFormDefault="qualified">

	<element name="domain" type="t:domain" />

	<complexType name="domain">
		<sequence>
			<element name="class" type="t:class" minOccurs="0" maxOccurs="unbounded" />
			<element name="relationship" type="t:relationship" minOccurs="0"
				maxOccurs="unbounded" />
			<element name="generalization" type="t:generalization"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="association" type="t:association" minOccurs="0"
				maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="class">
		<sequence>
			<element name="attribute" type="t:attribute" maxOccurs="unbounded" />
			<element name="identifier" type="t:identifier" maxOccurs="unbounded" />
			<element name="operation" type="t:operation" maxOccurs="unbounded" minOccurs="0"/>
		</sequence>
		<attribute name="name" type="t:nonBlankString" />
	</complexType>

	<complexType name="attribute">
		<attribute name="name" type="t:nonBlankString" />
		<attribute name="type" type="t:attributeType" />
		<attribute name="mandatory" type="boolean" use="optional"
			default="true" />
	</complexType>

	<simpleType name="attributeType">
		<restriction base="string">
			<enumeration value="Decimal" />
			<enumeration value="Integer" />
			<enumeration value="Boolean" />
			<enumeration value="Timestamp" />
			<enumeration value="Date" />
			<enumeration value="String" />
			<enumeration value="ArbitraryId"/>
		</restriction>
	</simpleType>

	<complexType name="identifier">
		<sequence>
			<element name="attribute" type="t:identifierAttribute"
				maxOccurs="unbounded" />
		</sequence>
		<attribute name="name" type="t:nonBlankString" />
	</complexType>

	<complexType name="identifierAttribute">
		<attribute name="relationshipName" type="t:nonBlankString"
			use="optional" />
		<attribute name="name" type="t:nonBlankString" />
	</complexType>

	<complexType name="operation">
		<sequence>
			<element name="parameter" type="t:parameter" minOccurs="0"
				maxOccurs="unbounded" />
		</sequence>
		<attribute name="name" type="t:nonBlankString" />
		<attribute name="returns" type="t:nonBlankString" use="optional" />
	</complexType>

	<complexType name="parameter">
		<attribute name="name" type="t:nonBlankString" />
		<attribute name="type" type="t:nonBlankString" />
	</complexType>

	<complexType name="relationship">
		<attribute name="name" type="t:nonBlankString" />
		<attribute name="className1" type="t:nonBlankString" />
		<attribute name="className2" type="t:nonBlankString" />
		<attribute name="multiplicity1" type="t:multiplicity" />
		<attribute name="multiplicity2" type="t:multiplicity" />
		<attribute name="verbClause1" type="t:nonBlankString" />
		<attribute name="verbClause2" type="t:nonBlankString" />
	</complexType>

	<simpleType name="multiplicity">
		<restriction base="string">
			<enumeration value="ZERO_ONE" />
			<enumeration value="ONE" />
			<enumeration value="MANY" />
			<enumeration value="ONE_MANY" />
		</restriction>
	</simpleType>

	<complexType name="generalization">
		<sequence>
			<element name="className" type="t:nonBlankString" maxOccurs="unbounded" />
		</sequence>
		<attribute name="name" type="t:nonBlankString" />
		<attribute name="superClassName" type="t:nonBlankString" />
	</complexType>

	<complexType name="association">
		<attribute name="className" type="t:nonBlankString" />
		<attribute name="relationshipName" type="t:nonBlankString" />
	</complexType>

	<simpleType name="nonBlankString">
		<restriction base="string">
			<pattern value=".*[^\s].*" />
		</restriction>
	</simpleType>

</schema>